input#fileSelector type="file" path=parse_file_path
div
  | Anomaly nearest neighbors count: &nbsp
  = number_field_tag 'k', '2'

div
  strong
    | Algorithm:
div
  span
    | 1) Find average build count per day;
div
  span
    | 2) Reject days that have less then `daily_average * 0.9` builds;
div
  span
    | 3) Caculate percentage of fails per day;
div
  span
    | 4) Caclulate average percent of fails;
div
  span
    | 5) Find max percentage of fails;
div
  span
    | 6) Use value from (5) as input value for k-nearest neighbors algorithm and perform finding;
div
  span
    | 7) Highlight days from (6).


div style="height: 300px; position: relative;"
  canvas#buildStatusChart
div style="height: 300px; position: relative;"
  canvas#durationChart height="300"

